.thumbnail {
    margin-bottom: 0;
    border: none;
}

.no-gutter [class*="-2"] {
    padding-left:0;
    padding-right:0;
}

.photo-group .photo-wrapper {
  position: relative;
}

.photo-group .photo-wrapper .photo {
    position: relative;
    margin: 0 auto;
    display: table;
}

.photo-group .photo-wrapper .photo-label {
    position: absolute;
    bottom: 5px;
    right: 5px;
    float: right;
    color: #ebab11;
}

.photo-tick {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
}

.unticked {
    color: #6b606c;
}

.ticked {
    color: #55eb2d;
}

.badge-danger {
  background-color: #d43f3a;
}

.badge-success {
  background-color: #18842a;
}

body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.sidebar-nav-fixed {
	width:20%;
}

