
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='external/ThumbnailGridExpandingPreview/css/default.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='external/ThumbnailGridExpandingPreview/css/component.css') }}" />

<!-- Add fancyBox -->
<link rel="stylesheet" href="/static/external/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/external/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/static/external/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/external/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/static/external/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<link rel="stylesheet" href="/static/external/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/static/external/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<div class="panel panel-default">


    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
            <span style="margin-left: 10px margin-right: 10px" class="badge">{{ album.photo_count }}</span>
            {{ album.name }}
            <a href="#" data-target="#mymodal" data-toggle="modal" class="btn btn-info btn-xs">
                <i class="fa fa-pencil-square-o"></i>
            </a>
        </h4>

        <div class="btn-group pull-right">
            <a href="">
                <span id="selected" style="display: none">here</span>
            </a>
        </div>
    </div>




    <div class="panel-body">

        <ul class="og-grid">
            {% for photo in album %}
                <li>
                    <a class="fancybox-thumb" rel="fancybox-thumb" href="/image/store/image/{{ photo.id }}/size/large" title="{{ "Date: %s, Location: %s, Camera: %s" % (photo.date_taken, photo.location.address, photo.model)}}">
                        <img src="/image/store/image/{{ photo.id }}/size/thumb" alt="img/img_not_found.jpg"/>
                    </a>
                </li>
             {% endfor %}


        </ul>
    </div>
</div>

<script>
    $(document).ready(function() {
		$(".fancybox-thumb").fancybox({
            type        : 'image',
            openEffect  : 'none',
            closeEffect : 'none',
            prevEffect  : 'none',
            nextEffect	: 'none',
            closeBtn	: false,
            helpers		: {
                title	:
                    { type : 'over' },
                buttons	: {},
                thumbs	: {
				    width	: 50,
				    height	: 50
			        }
                }
          });
	});
</script>