<div class="sidebar-nav-fixed pull-right affix">
    {% for category, categories in keywords.items() %}
    <div class="panel panel-group" id="{{ category }}">
        <div class="panel-body">
            {% set num = 0 %}
            {% set num = num + 1 %}
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#{{ category }}" href="#{{ subcategory  }}"> {{ category }}</a>
                </h4>
            </div>

            {% for subcategory, subcategories in categories.items() %}
            <div class="panel-collapse collapse panel-scroll" id="{{ subcategory }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ subcategory }}"> {{ subcategory }} </a>
                        </h4>
                    </div>
                    <div id="{{ subcategory }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                {% for value, details in subcategories.items() %}
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#"> {{ value }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div> <!-- sidebar -->



