
<div class="sidebar-nav-fixed pull-right affix">
    <div class="well">
        <div class="bs-example">
            {% for keyword in keywords %}
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            {% if keyword['value'] in album.tags_include %}
                               <span id="{{ keyword['value'] }}" include  class="badge badge-success">{{ keyword['value'] }}</span>
                            {% elif  keyword['value'] in album.tags_exclude%}
                               <span id="{{ keyword['value'] }}" exclude  class="badge badge-danger">{{ keyword['value'] }}</span>
                            {% else %}
                               <span id="{{ keyword['value'] }}" class="badge">{{ keyword['value'] }}</span>
                            {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="include-keyword">Include</a></li>
                        <li><a class="exclude-keyword">Exclude</a></li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</div>