


<div class="panel panel-default">


    <div class="panel-heading clearfix">

        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">

            <span style="margin-left: 10px margin-right: 10px" class="badge">{{ album.image_count }}</span>
            {{ album.name }}
            <a href="#" data-target="#mymodal" data-toggle="modal" class="btn btn-info btn-xs">
                <i class="fa fa-pencil-square-o"></i>
            </a>
        </h4>
        <div class="btn-group pull-right">



            <a href="">
                <span id="selected" style="display: none">here</span>
            </a>
        </div>
    </div>




    <div class="panel-body">



        <div id="elastic_grid_demo"></div>

        <script src="/static/js/jquery-latest.js"></script>
        <script src="{{ url_for('static', filename='external/jquery-elastic-grid/js/modernizr.custom.js') }}"></script>
        <script src="{{ url_for('static', filename='external/jquery-elastic-grid/js/classie.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='external/fancyBox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ url_for('static', filename='external/fancyBox/source/jquery.fancybox.pack.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/jquery-elastic-grid/js/elastic_grid.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/jquery-elastic-grid/js/jquery.hoverdir.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='external/jquery-elastic-grid/js/jquery.elastislide.js') }}"></script>

        <script type="text/javascript">


            $(".og-fullimg").click(function() {
                alert("kaj")
            })


            $(function(){
                $("#elastic_grid_demo").elastic_grid({
                    'showAllText' : 'All',
                    'filterEffect': 'fallperspective', // moveup, scaleup, fallperspective, fly, flip, helix , popup
                    'hoverDirection': true,
                    'hoverDelay': 10,
                    'hoverInverse': false,
                    'expandingSpeed': 500,
                    'expandingHeight': 300,
                    'items' : [
                        {% for photo in album %}
                            {
                                'title': '{{ photo.date_taken }}',
                                'description': '',
                                'location': '{{ photo.location.address }}',
                                'thumbnail': ['/image/store/image/{{ photo.id }}/size/thumb'],
                                'large': ['/image/store/image/{{ photo.id }}/size/large'],
                                'button_list':
                                    [
                                        {'title': 'Demo', 'url': 'http://porfolio.bonchen.net/', 'new_window': true},
                                        {'title': 'Download', 'url': 'http://porfolio.bonchen.net/', 'new_window': false}
                                    ],
                                'tags': ['Self Portrait']
                            },
                        {% endfor %}

                    ]







                });
            });





        </script>


    </div>
</div>
