<div class="sidebar-nav-fixed pull-right affix">


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

{% for category in categories %}

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ category }}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ category }}" aria-expanded="true" aria-controls="collapse{{ category }}">
          {{ category }}
        </a>
      </h4>
    </div>
    <div id="collapse{{ category }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ category }}">
      <div class="panel-body">


        {% for keyword in keywords %}
            {% if keyword['category'] == category %}
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            {% if keyword['value'] in album.tags_include %}
                               <span id="{{ keyword['value'] }}" include  class="badge badge-success">{{ keyword['value'] }}</span>
                            {% elif  keyword['value'] in album.tags_exclude%}
                               <span id="{{ keyword['value'] }}" exclude  class="badge badge-danger">{{ keyword['value'] }}</span>
                            {% else %}
                               <span id="{{ keyword['value'] }}" class="badge">{{ keyword['value'] }}</span>
                            {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="include-keyword">Include</a></li>
                        <li><a class="exclude-keyword">Exclude</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endfor %}


      </div>
    </div>
  </div>

{% endfor %}

</div>

</div>


