{% extends "layout.html" %}
{% import 'paginator_macro.html' as paginatorx %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>Album</th>
        <th>Edit</th>
        <th>Tags included</th>
        <th>Tags excluded</th>
        <th>#Images</th>
    </tr>
    </thead>
    <tbody>
    {% for col in data %}

    <tr>
        <td><a href="/image/album/{{ col._id }}">{{ col.name }}</a></td>
        <td><a href="/album/new/{{ col._id }}">edit</a></td>
        <td>{% for tag in col.tags_include %} <span class="badge">{{ tag }}</span> {% endfor %}</td>
        <td>{% for tag in col.tags_exclude %} <span class="badge">{{ tag }}</span> {% endfor %}</td>
        <td><span class="badge">{{col.image_count}}</span></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{{ paginatorx.render_pagination(paginator) }}


{% endblock %}
