{% extends "layout.html" %}

{% block content %}


<style type="text/css">

    .badge-danger {
      background-color: #d43f3a;
    }

    .badge-warning {
      background-color: #d58512;
    }

    .badge-success {
      background-color: #398439;
    }

    .badge-info {
      background-color: #269abc;
    }

    .badge-inverse {
      background-color: #333333;
    }

	.bs-example{
    	margin: 20px;
    }
</style>
<div class="row">
    <div id="image-list" class="col-lg-9">

    </div>

    <div class="col-lg-3">
        <div class="bs-example">

            {% for keyword in keywords %}
            <div class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <span id="{{ keyword[0] }}" class="badge">{{ keyword[0] }}</span> </a>
                <ul class="dropdown-menu">
                    <li><a class="include-keyword">Include</a></li>
                    <li><a class="exclude-keyword">Exclude</a></li>
                </ul>
            </div>
            {% endfor %}
            <input id="submit" class="btn btn-default" type="submit" value="Submit">
        </div>
    </div>
</div>


<script type="text/javascript" language="javascript">

var album_id = '{{ album_id }}';

$(document).ready(function() {

    if (typeof album_id !== 'undefined') {
        alert(album_id);
    }


  submit_query()

  $(".include-keyword").click(function() {

    parent_div = $(this).closest("div")

    badge = parent_div.find("a > span")
    badge.removeClass("badge-danger")
    badge.addClass("badge-success")
    badge.attr("include",'')

    include_menu = parent_div.find("ul > li > a").attr("id")

    if (typeof album_id !== 'undefined') {
        submit_query()
    }

  });

$(".exclude-keyword").click(function() {
    parent_div = $(this).closest("div")

    badge = parent_div.find("a > span")
    badge.removeClass("badge-success")
    badge.addClass("badge-danger")
    badge.attr("exclude",'')

    include_menu = parent_div.find("ul > li > a").attr("id")

    if (typeof album_id !== 'undefined') {
        submit_query()
    }

  });

function submit_query() {

    outer_div = $(".bs-example")

    var excluded = []
    outer_div.find('[exclude]').each(function(i) {
        excluded.push( $(this).attr("id") );
    });

    var included = []
    outer_div.find('[include]').each(function(i) {
        included.push( $(this).attr("id") );
    });
    post_data = {'included':included, 'excluded':excluded}

    console.log(post_data);

    $.ajax({
        type: 'POST',
        contentType: 'application/json',
        url: '/album/new',
        data: JSON.stringify(post_data),
        dataType: 'json',
        success: get_images
    })

}

function get_images() {

    if (typeof album_id !== 'undefined') {
        submit_query()
    }

}

$("#submit").click(function() {

    submit_query();


});




});

</script>



{% endblock %}