
{% if not ajax %}
    {% extends "layout.html" %}
{% endif %}
{% import 'paginator_macro.html' as paginatorx %}

{% block content %}
<style type="text/css">
    .col-xs-6 {
        padding: 0;
    }

    .col-xs-6 a {
        margin-bottom: 0;
    }

    .thumbnail {
        margin-bottom: 0;
        border:0;
    }

    .photo {
        margin-left: 0;
    }


.content-header {
    padding-bottom: 10px;
}

.thumbnail > a > img {
    display: block;
    max-width: 100%;
}

.photo-group .photo-wrapper {
    position: relative;

}

.photo-group .photo-wrapper .photo {
    position: relative;
    margin: 0 auto;
    display: table;
}

.photo-group .photo-wrapper .photo-label {
  position: absolute;
  bottom: 5px;
    right: 5px;
}

.photo-group .photo-wrapper .photo-label {
  float: right;
}
</style>

<div class="row">
  {% for img in data %}
  <div class=" col-md-3">
      <div class="photo-group ">
        <a href="/image/large/id/{{ img.db_id }}" class="photo-wrapper">
            <div class="photo">
                <img alt="" src="/image/store/image/{{ img.db_id }}/size/tm" class="img-responsive img-thumbnail"/>
                <span class="label label-inverse photo-label">{{ img.db_date_taken }}</span>
            </div>
        </a>

    </div>







  </div>
  {% endfor %}
</div>

{{ paginatorx.render_pagination(paginator) }}

{% endblock %}
