<!DOCTYPE html>
<html lang="en">
<head>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="page-header">
    <h1>Example page header
        <small>Subtext for header</small>
    </h1>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="well bs-sidebar affix" id="sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li class="list-group-item"><a href="/collections">Collections</a></li>
                <li class="list-group-item"><a href="/addcollection">Add collection</a></li>
                <li class="list-group-item"><a href="/sync">Scan</a></li>
                <li class="list-group-item"><a href="/updateimagecounts">Update Imagecounts</a></li>
                <li class="list-group-item"><a href="/addCol">add stadard col</a></li>

            </ul>
        </div>
        <!--well bs-sidebar affix-->
    </div>
    <!--col-sm-3-->
    <div class="col-sm-9">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success" role="alert">

                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}

                </div>
            {% endif %}
        {% endwith %}
        {% block content %}


        {% endblock %}


    </div>
    <!--col-sm-9-->
</div>
<!--row-->


</body>
</html>