{% extends "layout.html" %}

{% block content %}
<div class="col-lg-12">
    <a href="{{ back_url }}"> <i class="fa fa-long-arrow-left fa-5x"></i></a>
</div>
<div class="col-lg-8">


    <img src="/image/store/image/{{ img.db_id }}/size/{{ size }}" class="img-responsive img-thumbnail" alt="pichere">
</div>


<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">Information</div>
        <div class="panel-body">

            {{ img.db_date_taken }}
            {{ img.db_original_height }}
            {{ img.db_original_width }}
            {% for tag in img.db_tags %}
                <span class="badge">{{ tag }}</span>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
